@model NextUses.Models.ViewModel.FrontendModel
@{
	ViewData["Title"] = "Home page";
	Layout = "_FrontendLayout";
}
<section class="p-0">
	<div class="container">
		<div class="row">

			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
				<div class="killore-new-block-link border mb-3 mt-3">
					<div class="px-3 py-3 ft-medium fs-md text-dark gray">Top Categories</div>

					<div class="killore--block-link-content">
						<ul>
							@foreach (var category in Model.Categories)
							{
								<li>
									<a asp-controller="Showcatrgoryall" asp-action="Showcategory" asp-route-id="@category.Id">
										@category.Name
									</a>

									</li>
							}
						</ul>
					</div>
				</div>
			</div>

			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
				<div class="home-slider auto-slider mb-3 mt-3">

					<!-- Slide -->
					<div data-background-image="@Url.Content("~/asset/frontend/img/Banner1.jpg")" class="item">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="home-slider-container">

										<!-- Slide Title -->
										<div class="home-slider-desc">
											<div class="home-slider-title mb-4">
												<h5 class="fs-sm ft-ragular mb-2">New Collection</h5>
												<h1 class="mb-2 ft-bold">The Standard<br>With <span class="theme-cl">Smartness</span></h1>
												<span class="trending">Apple 10 comes with 6.5 inches full HD + High Valume</span>
											</div>

											<!-- <a href="#" class="btn btn-white stretched-link hover-black">Buy Now<i class="lni lni-arrow-right ml-2"></i></a>-->
										</div>
										<!-- Slide Title / End -->

									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div data-background-image="@Url.Content("~/asset/frontend/img/Banner2.jpg")" class="item">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="home-slider-container">

										<!-- Slide Title -->
										<div class="home-slider-desc">
											<div class="home-slider-title mb-4">
												<h5 class="fs-sm ft-ragular mb-2">Super Sale</h5>
												<h1 class="mb-2 ft-bold">The Standard<br>With <span class="text-success">Smartness</span></h1>
												<span class="trending">Xiomi Redmi 10 comes with 6.5 inches full HD + LCD Screen</span>
											</div>

											<!-- <a href="#" class="btn btn-white stretched-link hover-black">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>-->
										</div>
										<!-- Slide Title / End -->

									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div data-background-image="@Url.Content("~/asset/frontend/img/b-8.png")" class="item">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="home-slider-container">

										<!-- Slide Title -->
										<div class="home-slider-desc">
											<div class="home-slider-title mb-4">
												<h5 class="fs-sm ft-ragular mb-2">Super Sale</h5>
												<h1 class="mb-2 ft-bold">The Standard<br>With Smartness</h1>
												<span class="trending">Xiomi Redmi 10 comes with 6.5 inches full HD + LCD Screen</span>
											</div>

											<!-- <a href="#" class="btn theme-bg text-light">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>-->
										</div>
										<!-- Slide Title / End -->

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- ======================= Category & Slider ======================== -->
<!-- ======================= Product List ======================== -->
<section class="middle">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center">
					<h2 class="off_title">Trendy Products</h2>
					<h3 class="ft-bold pt-3">Our Trending Products</h3>
				</div>
			</div>
		</div>

		<div class="row align-items-center rows-products">
			@foreach (var product in Model.Products)
			{
				<!-- Single -->
				<div class="col-xl-3 col-lg-4 col-md-6 col-6">
					<div class="product_grid card b-0">
						<div class="badge bg-red text-white position-absolute ft-regular ab-left text-upper">@product.ProductStatus</div>
					<div class="card-body p-0">
							<div class="shop_thumb position-relative">
								<a class="card-img-top d-block overflow-hidden" asp-controller="Frontend"
								   asp-action="Productdetails" asp-route-id="@product.Id">
									<img class="img-fluid"
										 style="width:2500px; height:250px; object-fit:cover;"
										 src="data:image/png;base64,@Convert.ToBase64String(product.Image)"
										 alt="@product.Name" />
								</a>
							</div>

					</div>
					<div class="card-footer b-0 p-0 pt-2 bg-white d-flex align-items-start justify-content-between">
						<div class="text-left">
							<div class="text-left">
									<div class="elso_titl"><span class="small">@product.Category.Name</span></div>
								<h5 class="fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">@product.Name</a></h5>
								
								<div class="elis_rty"><span class="ft-bold text-dark fs-sm">TK- @product.Price</span></div>
							</div>
						</div>
							<div class="text-right">
								<div class="text-right">
									<h3 class="fs-md mb-0 lh-1 mb-1 mt-3"><a asp-controller="Frontend" 
										asp-action="Productdetails" asp-route-id="@product.Id" class="btn btn-primary btn-sm px-4 py-2">Details</a></h3>
								</div>
							</div>
					</div>
				</div>
			</div>
			}
			

		</div>

		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="position-relative text-center">
					<a href="shop-style-1.html" class="btn stretched-link borders">Explore More<i class="lni lni-arrow-right ml-2"></i></a>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- ======================= Product List ======================== -->

<!-- ======================= All Category ======================== -->
<section class="middle">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center">
					<h2 class="off_title">Popular Categories</h2>
					<h3 class="ft-bold pt-3">Trending Categories</h3>
				</div>
			</div>
		</div>

		<div class="row align-items-center justify-content-center">
			@foreach (var category in Model.Categories)
			{
				<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
					<div class="cats_side_wrap text-center mx-auto mb-3">
						<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2"><a asp-controller="Showcatrgoryall" asp-action="Showcategory" asp-route-id="@category.Id" " class="d-block"><img src="data:image/png;base64,@Convert.ToBase64String(category.Image)" class="circle " width="100" alt="@category.Name"></a></div></div>
						<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a asp-controller="Showcatrgoryall" asp-action="Showcategory" asp-route-id="@category.Id" ">@category.Name</a></h6></div>
				</div>
			</div>
			}
		</div>

	</div>
</section>
<!-- ======================= All Category ======================== -->

<!-- ======================= Customer Features ======================== -->
<section class="px-0 py-3 br-top">
	<div class="container">
		<div class="row">

			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
				<div class="d-flex align-items-center justify-content-start py-2">
					<div class="d_ico">
						<i class="fas fa-shopping-basket"></i>
					</div>
					<div class="d_capt">
						<h5 class="mb-0">Free Shipping</h5>
						<span class="text-muted">Capped at $10 per order</span>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
				<div class="d-flex align-items-center justify-content-start py-2">
					<div class="d_ico">
						<i class="far fa-credit-card"></i>
					</div>
					<div class="d_capt">
						<h5 class="mb-0">Secure Payments</h5>
						<span class="text-muted">Up to 6 months installments</span>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
				<div class="d-flex align-items-center justify-content-start py-2">
					<div class="d_ico">
						<i class="fas fa-shield-alt"></i>
					</div>
					<div class="d_capt">
						<h5 class="mb-0">15-Days Returns</h5>
						<span class="text-muted">Shop with fully confidence</span>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
				<div class="d-flex align-items-center justify-content-start py-2">
					<div class="d_ico">
						<i class="fas fa-headphones-alt"></i>
					</div>
					<div class="d_capt">
						<h5 class="mb-0">24x7 Fully Support</h5>
						<span class="text-muted">Get friendly support</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>