@model List<NextUses.Models.Users>
@using NextUses.Helper;


@{
    ViewData["Title"] = "User List";
    Layout = "_BackendLayout";
    int Sl = 1;
}
<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Rider List</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">All Rider Show</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped verticle-middle table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">SL</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Complete Order</th>
                                        <th scope="col">Reject Order</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>@Sl</td>
                                            <td>@user.Name</td>
                                            <td>@user.Email</td>
                                            <td>
                                                @(string.IsNullOrEmpty(user.Phone) ? "Null" : user.Phone)
                                            </td>
                                            <td>@user.Address</td>
                                            <td>Null</td>
                                            <td>Null</td>
                                        </tr>
                                        Sl++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>