@model NextUses.Models.ViewModel.DashboardViewModel;
@using Microsoft.AspNetCore.Identity;

@{
	ViewData["Title"] = "Dashboard";
	Layout = "_BackendLayout";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <style>
        .avtivity-card {
            transition: all 0.3s ease-in-out;
            color: blue; /* Sets the text color to blue */
            font-size: 15px; /* Sets the font size to 15 pixels */
        }

            .avtivity-card:hover {
                background-color: #17a2b8; /* Bootstrap 'info' color */
                color: white; /* Changes the text to white */
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                transform: translateY(-5px);
            }
    </style>
</head>

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            @if (User.IsInRole("Admin"))
            {
                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-success mr-3">
                                    <i class="fa fa-users fa-2x text-success"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Total Users</p>
                                    <span class="title text-black font-w600">@Model.TotalUsers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-primary mr-3">
                                    <i class="fa fa-motorcycle fa-2x text-primary"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Total Riders</p>
                                    <span class="title text-black font-w600">@Model.TotalRiders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-warning mr-3">
                                    <i class="fa fa-list fa-2x text-warning"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Categories</p>
                                    <span class="title text-black font-w600">@Model.TotalCategories</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-info mr-3">
                                    <i class="fa fa-box fa-2x text-info"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Active Products</p>
                                    <span class="title text-black font-w600">@Model.ActiveProducts</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-danger mr-3">
                                    <i class="fa fa-box-open fa-2x text-danger"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Deactive Products</p>
                                    <span class="title text-black font-w600">@Model.DeactiveProducts</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-warning mr-3">
                                    <i class="fa fa-clock fa-2x text-warning"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Pending Orders</p>
                                    <span class="title text-black font-w600">@Model.PendingOrders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-success mr-3">
                                    <i class="fa fa-check fa-2x text-success"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Completed Orders</p>
                                    <span class="title text-black font-w600">@Model.CompleteOrders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-info mr-3">
                                    <i class="fa fa-user-tag fa-2x text-info"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Rider Assigned Orders</p>
                                    <span class="title text-black font-w600">@Model.RiderAssignedOrders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-danger mr-3">
                                    <i class="fa fa-ban fa-2x text-danger"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Rider Rejected Orders</p>
                                    <span class="title text-black font-w600">@Model.RiderRejectedOrders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-danger mr-3">
                                    <i class="fa fa-times-circle fa-2x text-danger"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Cancelled Orders</p>
                                    <span class="title text-black font-w600">@Model.CancelledOrders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-warning mr-3">
                                    <i class="fa fa-hourglass-half fa-2x text-warning"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Pending Rider Apply</p>
                                    <span class="title text-black font-w600">@Model.PendingRiderApply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-success mr-3">
                                    <i class="fa fa-thumbs-up fa-2x text-success"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Accepted Rider Apply</p>
                                    <span class="title text-black font-w600">@Model.AcceptedRiderApply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-danger mr-3">
                                    <i class="fa fa-thumbs-down fa-2x text-danger"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Rejected Rider Apply</p>
                                    <span class="title text-black font-w600">@Model.RejectedRiderApply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (User.IsInRole("Rider"))
            {
                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-warning mr-3">
                                    <i class="fa fa-clock fa-2x text-warning"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Pending Orders</p>
                                    <span class="title text-black font-w600">@Model.PendingOrders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-success mr-3">
                                    <i class="fa fa-check fa-2x text-success"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Completed Orders</p>
                                    <span class="title text-black font-w600">@Model.CompleteOrders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-warning mr-3">
                                    <i class="fa fa-hourglass-half fa-2x text-warning"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Pending Rider Apply</p>
                                    <span class="title text-black font-w600">@Model.PendingRiderApply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-success mr-3">
                                    <i class="fa fa-thumbs-up fa-2x text-success"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Accepted Rider Apply</p>
                                    <span class="title text-black font-w600">@Model.AcceptedRiderApply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-danger mr-3">
                                    <i class="fa fa-thumbs-down fa-2x text-danger"></i>
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Rejected Rider Apply</p>
                                    <span class="title text-black font-w600">@Model.RejectedRiderApply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>